.admin-wrapper {
  display: flex;
  justify-content: space-between;
}

.admin-aside {
  background-color: #ff5f5f;
  color: #fcfcfc;
  width: 25%;
  height: 100vh;
  padding: 20px;
  position: -webkit-fixed;
  position: fixed;
  top: 0;
}

.margin-main{
  width: 25%;
}

.admin-main {
  width: 75%;
}

.not-mobile {
  display: inline;
}

.is-mobile {
  display: none;
}

.title {
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  color: #ffffff !important;
}

.menu-list {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #f5f5f5 !important;
  /* transition: 0.2s ease !important */
}

/* .menu-list:hover {
  transform: scale(1.5) !important;
} */

@media screen and (max-width: 970px) {
  .admin-aside {
    width: 60px;
    padding: 20px 0;
  }

  .margin-main {
    width: 60px;
  }

  .admin-main {
    width: 100%;
  }

  .not-mobile {
    display: none;
  }

  .is-mobile {
    display: flex;
  }
}
